@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #76DACE;
}


html, body {
    height: 100%;
    max-width: 100%;
}
body {
    @apply flex flex-col w-screen min-h-screen;
}

@layer utilities {
    .no-spin::-webkit-outer-spin-button,
    .no-spin::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .no-spin {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield;
    }
}