@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #76DACE;
}


html, body {
    height: 100%;
    max-width: 100%;
}
body {
    @apply flex flex-col w-screen min-h-screen;
}